@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
    height: 2000px;
    background: linear-gradient(#2A7FFF, #9955ff);
}

.navbar {
    transition: top 0.4s;
}

.navbar-item {
    margin: auto 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.name {
    margin: 1rem;
}

.arrow-button.hovered {
    animation: shadow-transition-out 0.2s;
}
.arrow-button:hover {
    animation: shadow-transition-in 0.2s forwards;
}

@keyframes shadow-transition-out {
    from {
        box-shadow: 0px 0px 5px 2px white;
    }
    to {
        box-shadow: 0px 0px 0px 0px white;
    }
}

@keyframes shadow-transition-in {
    from {
        box-shadow: 0px 0px 0px 0px white;
    }
    to {
        box-shadow: 0px 0px 5px 2px white;
    }
}

@media (max-width: 779px) {
    .off {
        display: none;
    }
    .on {
        display: block;
    }
}

::-webkit-scrollbar {
    width: 0.6em;
}

::-webkit-scrollbar {
    background-color: #333333;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#2A7FFF, #9955ff);
} 

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, rgba(42, 127, 255,0.4), rgba(153, 85, 255,0.4));
}