@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

.navbar-item {
    margin: auto 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.name {
    margin: 1rem;
}

@media (max-width: 900px) {
    .name_icon {
        height: 36px;
    }
}